@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="width:18rem; border-radius:1rem; background-color:darkcyan; margin-top:1rem">
    <div class="card-body">
        <h5 class="card-title">Funcionários Registrados</h5>
        <h6 class="card-subtitle mb-2" style="color:white">Total: </h6>
        <p class="card-text">@ViewData["totalFunc"]</p>
        <a asp-action="Cadastrar" asp-controller="Funcionario" class="btn btn-sm btn-dark">Cadastrar</a>
        <a asp-action="index" asp-controller="Funcionario" class="btn btn-sm btn-info">Listar Funcionarios</a>
    </div>
</div>
