
@model List<Padaria> 
@{
    ViewData["title"] = "Lista Cadastrar";
}

<h1>Lista de Padarias</h1>

<!-- Criar uma tabela em HTML para mostar as info das Padarias-->

@foreach (var itens in Model)
    {
        
    }